extends layout

block content
    .jumbotron
        .container
            h1 How May I Help You?
            P we are your friends don't leave us alone
            a.btn.btn-primary.btn-lg(href='#') Learn more &raquo;
    .container
        .row
            .col-md-4
                h2 About Us
                p No we are here for you
                a.btn.btn-default(href='#') View Details
            .col-md-4
                h2 Services
                p We are here to serve you
                a.btn.btn-default(href='#') View Details
            .col-md-4
                h2 Get in Touch
                p Call or email no touch haha
                a.btn.btn-default(href='#') View Details